@import '../../../@theme/styles/themes';

.breadcrumb-wrapper {
  background: #edf1f7;
}

.default {
  background: #edf1f7;
}

.cosmic {
  background: #1b1b38;
}

.domain-name {
  position: absolute;
  left: 47%;
  font-size: 1.3rem;
  top: 0.9rem;
  text-transform: uppercase;
}

.icon-domain {
  margin-top: -0.2rem;
}

.breadcrumb {
  background: none;
  font-size: 0.8em;
  margin: 0;

  a,
  span {
    color: black;
    outline: none;
  }

  a:hover,
  span:hover {
    color: #709dd1;
    text-decoration: none;
  }

  li {
    list-style: none;
    float: left;
    margin: 5px;
    outline: none;
  }

  li.pointer-hover {
    cursor: pointer;
  }

  li:last-child {
    margin-right: 20px;
  }

  li::after {
    content: ' > ';
    color: darkgrey;
  }

  li:last-child::after {
    content: '';
  }

}

