@import '../../../@theme/styles/main.css';
@import '../../../@theme/styles/util.css';

nb-layout-header nav {
  padding: 0 !important;
  align-items: normal !important;
}
nav.limiter-menu-desktop.container {
  box-shadow: 0 0 black;

}

.danger {
  background-color: #ff3d71 !important;
  border-color: #ff3d71 !important;
  color: #ffffff !important;
}

.success {
  background-color: #00d68f !important;
  border-color: #00d68f !important;
  color: #ffffff !important;
}

.primary {
  background-color: #598bff !important;
  border-color: #598bff !important;
  color: #ffffff !important;
}

p {
  color: black !important;
}
mat-card.mat-card.ngx-d-flex.ngx-justify-content-center.ngx-audio-player.z-depth-1.mat-elevation-z2 {
  border: 1px solid gray !important;
}
