<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()"><span>{{ 'common.header.title' | translate}}</span></a>
  </div>
</div>

<div class="dropdown">
  <nb-user
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
    [onlyPicture]="false"
    [name]="user.fullName"
    (click)="openMenu = !openMenu"
    [picture]="user?.pathUrl ? user?.pathUrl : 'https://www.w3schools.com/howto/img_avatar.png'">
  </nb-user>
  <div class="dropdown-content" style="min-width: 180px !important;">
<!--    <li>-->
<!--&lt;!&ndash;      <ng-select [items]="themes" bindLabel="name" bindValue="value"&ndash;&gt;-->
<!--&lt;!&ndash;                 fullWidth&ndash;&gt;-->
<!--&lt;!&ndash;                 [(ngModel)]="currentTheme"&ndash;&gt;-->
<!--&lt;!&ndash;                 (ngModelChange)="changeTheme($event)"&ndash;&gt;-->
<!--&lt;!&ndash;                 [clearable]="false">&ndash;&gt;-->
<!--&lt;!&ndash;      </ng-select>&ndash;&gt;-->
<!--&lt;!&ndash;    </li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li>&ndash;&gt;-->
<!--&lt;!&ndash;      <ng-select [clearable]="false" bindLabel="name"  bindValue="value" [items]="languages"&ndash;&gt;-->
<!--&lt;!&ndash;                 (ngModelChange)="changeLanguage($event)"  [(ngModel)]="currentLanguage" fullWidth>&ndash;&gt;-->
<!--&lt;!&ndash;      </ng-select>&ndash;&gt;-->
<!--    </li>-->
    <li (click)="viewUsers(null)">{{ 'common.header.menu.profile' | translate}}</li>
    <li (click)="router.navigate(['auths/changePass'])">{{ 'common.header.menu.changePass' | translate}}</li>
    <li (click)="logout()">{{ 'common.header.menu.logout' | translate}}</li>
  </div>
</div>
