<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()"><span>{{ 'common.header.title' | translate}}</span></a>
  </div>
</div>

<div class="dropdown">
  <nb-user
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
    [onlyPicture]="false"
    [name]="user"
    (click)="openMenu = !openMenu"
    [picture]="user?.picture">
  </nb-user>
  <div class="dropdown-content">
    <li>
      <ng-select [items]="themes" bindLabel="name" bindValue="value"
                 fullWidth
                 [(ngModel)]="currentTheme"
                 (ngModelChange)="changeTheme($event)"
                 [clearable]="false">
      </ng-select>
    </li>
    <li>
      <ng-select [clearable]="false" bindLabel="name"  bindValue="value" [items]="languages"
                 (ngModelChange)="changeLanguage($event)"  [(ngModel)]="currentLanguage" fullWidth>
      </ng-select>
    </li>
    <li (click)="router.navigate(['auths/changePass'])">{{ 'common.header.menu.changePass' | translate}}</li>
    <li (click)="logout()">{{ 'common.header.menu.logout' | translate}}</li>
  </div>
</div>
