@import '../../../@theme/styles/main.css';
@import '../../../@theme/styles/util.css';

nb-layout-header nav {
  padding: 0 !important;
  align-items: normal !important;
}

nav.limiter-menu-desktop.container {
  box-shadow: 0 0 black;

}

p {
  color: black !important;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.card-header-title {
  border: none !important;
}

