
.bt-action {
  position: absolute;
  font-size: 1.7rem;
  right: 1.2rem;
  top: 0.7rem;
}
mat-card.mat-card.ngx-d-flex.ngx-justify-content-center.ngx-audio-player.z-depth-1.mat-elevation-z2 {
  border: 1px solid gray !important;
}
