<div class="row" [nbSpinner]="isLoad" nbSpinnerSize="giant" nbSpinnerStatus="primary">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header class="d-flex header">
        <label> {{ 'objects.title' | translate }}</label>
        <button nbButton status="primary" size="tiny" class="ml-auto" (click)="open(null)">
          <nb-icon icon="plus" pack="eva"></nb-icon>
          {{ 'objects.title_add' | translate }}
        </button>
      </nb-card-header>
      <nb-card-body>
        <div class="mb-4">
        </div>
        <ngx-datatable ngxResizeWatcher class="material"
                       [columnMode]="'flex'"
                       [rows]="rows"
                       [columns]="columns"
                       rowHeight="auto"
                       [footerHeight]="50"
                       [headerHeight]="50"
                       [treeFromRelation]="'parentId'"
                       [treeToRelation]="'id'"
                       (treeAction)="onTreeAction($event)"
                       [messages]="{ emptyMessage: 'common.notFoundText' | translate, totalMessage: 'common.totalMessage' | translate }">
          <ng-container *ngFor="let col of columns">
            <ngx-datatable-column prop="{{col.prop}}" name="{{col.name}}" [flexGrow]="col.flexGrow"
                                  [isTreeColumn]="col.isTree">
              <ng-template let-column="column" ngx-datatable-header-template>
                {{ column.name | translate }}
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template let-row="row" let-rowIndex='rowIndex'>
                <ng-container *ngIf="col.prop ==='index'" class="index-col">
                  {{ rowIndex + 1 }}
                </ng-container>
                <ng-container *ngIf="col.prop === 'code'">
                  {{value}}
                </ng-container>
                <ng-container
                  *ngIf="col.prop !=='action_btn' && col.prop !=='updateTime'
                  && col.prop !=='description' && col.prop !=='status' && col.prop !=='code' ">
                  <span class="row-data-show" title="{{value}}">{{ value }}</span>
                </ng-container>
                <ng-container *ngIf="col.prop ==='description'" class="text-right">
                  <span class="row-data-show"
                        title="{{value}}">{{value.length > 50 ? value.substring(0, 50).concat('...') : value}}</span>
                </ng-container>
                <ng-container *ngIf="col.prop ==='status'">
                  {{ 'common.status.' + value | translate }}
                </ng-container>
                <ng-container *ngIf="col.prop === 'map_action' && row.treeStatus == 'disabled'">
                  <button class="p-1" nbButton ghost status="info" (click)="openMapModule(row)">
                    <nb-icon icon="link-outline" pack="eva" size="tiny"></nb-icon>
                  </button>
                </ng-container>
                <ng-container *ngIf="col.prop ==='updateTime'">
                  {{value | date:'dd/MM/yyyy HH:mm:ss'}}
                </ng-container>
                <ng-container *ngIf="col.prop ==='action_btn'" class="text-right">
                  <div>
                    <button class="p-1" nbButton status="info" ghost title="{{ 'common.edit' | translate }}"
                            (click)="open(row)">
                      <nb-icon icon="edit-outline" pack="eva" size="tiny"></nb-icon>
                    </button>
                    <button class="p-1" nbButton status="danger" ghost title="{{ 'common.delete' | translate }}"
                            (click)="delete(row)">
                      <nb-icon icon="trash-2-outline" pack="eva" size="tiny"></nb-icon>
                    </button>
                  </div>
                </ng-container>
              </ng-template>
            </ngx-datatable-column>
          </ng-container>
        </ngx-datatable>
      </nb-card-body>
    </nb-card>
  </div>
</div>
