<section style=" background: white;" class="blog_area section-padding">
  <div class="container">
    <div class="row">

      <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
        <div>
          <h5 class="mtext-109 cl2 p-b-30" style="color: black; text-align: center">
            Thông tin cá nhân
          </h5>
          <form [formGroup]="inputForm">
            <div>
              <div>
                <div class="form-group">
                  <label class="label" style="color: black;">
                    {{ 'common.table.item_name' | translate }} <span style="color: red">(*)</span>
                  </label>
                  <input style="background: white;color: black;" type="text" nbInput fullWidth formControlName="fullName"
                         placeholder="Nhập Họ và tên">
                  <ngx-inline-message [message]="'common.table.item_name'|translate"
                                      [formName]="inputForm.get('fullName')"></ngx-inline-message>
                </div>
                <div class="form-group">
                  <label class="label" style="color: black;">
                    {{ 'common.table.item_tel' | translate }} <span style="color: red">(*)</span>
                  </label>
                  <input style="background: white;color: black;" class="stext-111 cl8 plh3 size-111 p-lr-15" type="text"
                         nbInput fullWidth formControlName="phone" placeholder="Nhập Số điện thoại">
                  <ngx-inline-message [message]="'common.table.item_tel'|translate"
                                      [formName]="inputForm.get('phone')"></ngx-inline-message>
                </div>
                <div class="form-group">
                  <label class="label" style="color: black;">
                    {{ 'common.table.item_email' | translate }}
                  </label>
                  <input style="background: white;color: black;" class="stext-111 cl8 plh3 size-111 p-lr-15" type="text"
                         nbInput fullWidth formControlName="mail" placeholder="Nhập Email">
                  <ngx-inline-message [message]="'common.table.item_email'|translate"
                                      [formName]="inputForm.get('mail')"></ngx-inline-message>
                </div>
              </div>
            </div>

          </form>


          <div style="display: flex; justify-content: center">
            <button nbButton type="button" status="primary" size="large" [disabled]="inputForm.invalid"
                    (click)="submit()"
                    id="dialogCancelBtn">Tiếp tục
            </button>
            <!--      <button -->
            <!--              class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">-->
            <!--        -->
            <!--      </button>-->
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
