<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
  <div class="container">
    <div class="row" style="display: contents;">
      <h3 class="mtext-111 cl2 p-b-16" style="text-align: center; margin-bottom: 30px; margin-top: 30px;">
        BAN GIÁM ĐỐC
      </h3>
      <table align="center" class="table-test">
        <tbody>
        <tr>
          <td colspan="3" style="text-align: left;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td colspan="3" style="padding-bottom: 30px;">
            <p style="text-align: left;"><img alt="" src="/toeic-web/assets/images/bgd/image_675b0a51_b4ef_4a69_8122_6f33612e47d2.png" style="border:0px solid black; height:300px; margin:0px; width:271px"></p>

            <p style="text-align: left;">&nbsp;</p>

            <p style="text-align: left;"><strong>GIÁM ĐỐC BỆNH VIỆN</strong></p>

            <p style="text-align: left;"><strong>PGS.TS. NGUYỄN VIẾT NHUNG</strong></p>
          </td>
        </tr>
        <tr>
          <td>
            <p style="text-align: left;">&nbsp;</p>

            <p style="text-align: left;"><img alt="" border="0" height="225" hspace="0" src="/toeic-web/assets/images/bgd/image_810aaa43_9386_40f4_9174_4005d1c35bcc.png" style="width:150px;height:225px;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;border:0px solid black;" vspace="0" width="150"></p>

            <p style="text-align: left;"><strong>PHÓ GIÁM ĐỐC&nbsp;</strong></p>

            <p style="text-align: left;"><strong>PHỤ TRÁCH KINH TẾ</strong></p>

            <p style="text-align: left;"><strong>PGS.TS. VŨ XUÂN PHÚ</strong></p>

            <p style="text-align: left;">&nbsp;</p>
          </td>
          <td>
            <p style="text-align: left;">&nbsp;</p>
          </td>
          <td>
            <p style="text-align: left;"><img alt="" border="0" height="225" hspace="0" src="/toeic-web/assets/images/bgd/image_6d3ec2b6_e2f3_431d_b3c9_1e45ab4323a6.png" style="width:150px;height:225px;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;border:0px solid black;" vspace="0" width="150">&nbsp;</p>

            <p style="text-align: left;"><strong>PHÓ GIÁM ĐỐC </strong></p>

            <p style="text-align: left;"><strong>PHỤ TRÁCH CHUYÊN MÔN</strong></p>

            <p style="text-align: left;"><strong>TS.BS. ĐINH VĂN LƯỢNG</strong></p>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</section>
