<ngb-carousel
  [showNavigationArrows]="true"
  [showNavigationIndicators]="true"
  interval="12000"
  [keyboard]="true"
  [pauseOnHover]="true"
  [wrap]="true"
  [activeId]="'secondSlide'">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/images/banner/banner.png" alt="Angular Carousel 1">
    </div>
    <div class="carousel-caption">
<!--      <h3>Title Goes Here</h3>-->
<!--      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/images/banner/banner.png" alt="Angular Carousel 2">
    </div>
    <div class="carousel-caption">
<!--      <h3>Title Goes Here</h3>-->
<!--      <p>Consectetur tortor volutpat pretium.</p>-->
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/images/banner/banner2.png" alt="Angular Carousel 2">
    </div>
    <div class="carousel-caption">
<!--      <h3>Title Goes Here</h3>-->
<!--      <p>Consectetur tortor volutpat pretium.</p>-->
    </div>
  </ng-template>
</ngb-carousel>

<div class="service_area">
  <div class="container p-0">
    <div class="row no-gutters">
      <div class="col-xl-4 col-md-4">
        <div class="single_service">
          <div class="icon">
            <i class="flaticon-electrocardiogram"></i>
          </div>
          <h3>Chăm sóc bệnh nhân</h3>
          <p>Sự xuất sắc về mặt lâm sàng phải là ưu tiên đối với bất kỳ nhà cung cấp dịch vụ chăm sóc sức khỏe nào.</p>
          <a href="#" class="boxed-btn3-white">Apply For a Bed</a>
        </div>
      </div>
      <div class="col-xl-4 col-md-4">
        <div class="single_service">
          <div class="icon">
            <i class="flaticon-emergency-call"></i>
          </div>
          <h3>Liên lạc khẩn cấp</h3>
          <p>Sự xuất sắc về mặt lâm sàng phải là ưu tiên đối với bất kỳ nhà cung cấp dịch vụ chăm sóc sức khỏe nào.</p>
          <a href="#" class="boxed-btn3-white">0243 8326 249</a>
        </div>
      </div>
      <div class="col-xl-4 col-md-4">
        <div class="single_service">
          <div class="icon">
            <i class="flaticon-first-aid-kit"></i>
          </div>
          <h3>Dịch vụ đặt phòng trực tuyến</h3>
          <p>Sự xuất sắc về mặt lâm sàng phải là ưu tiên đối với bất kỳ nhà cung cấp dịch vụ chăm sóc sức khỏe nào.</p>
          <a href="#" class="boxed-btn3-white">Đặt phòng trực tuyến</a>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- welcome_docmed_area_start -->
<div class="welcome_docmed_area">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6">
        <div class="welcome_thumb">
          <div class="thumb_1">
            <img src="assets/images/about/1.png" alt="">
          </div>
          <div class="thumb_2">
            <img src="assets/images/about/2.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6">
        <div class="welcome_docmed_info">
          <h2>Xin chào tới với Bệnh viện Phổi Trung Ương</h2>
          <h3>Chăm sóc tốt nhất cho<br>
            sức khỏe của bạn</h3>
          <p>Bệnh viện Phổi Trung ương được thành lập từ năm 1957, Bác sỹ Phạm Ngọc Thạch, được Bác Hồ sang Pháp mời về làm Bộ trưởng Bộ Y tế đầu tiên của Nước Việt Nam Dân chủ Cộng hòa cũng là Người Viện trưởng đầu tiên của Bệnh viện.</p>
          <ul>
            <li><i class="flaticon-right"></i> Một tầm nhìn.</li>
            <li><i class="flaticon-right"></i> Hai sứ mệnh.</li>
            <li><i class="flaticon-right"></i> Ba giá trị cốt lõi.</li>
            <li><i class="flaticon-right"></i> Sáu giải pháp chiến lược.</li>
          </ul>
          <a href="#" class="boxed-btn3-white-2">Chi tiết</a>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- offers_area_start -->
<div class="our_department_area">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="section_title text-center mb-55">
          <h3>DỊCH VỤ TẠI BỆNH VIỆN</h3>
          <p>Esteem tinh thần nóng nảy cũng nói adieus người đạo đức. <br>
            Nó đánh giá cao sự may mắn hoặc bức tranh đặt bản vẽ. </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-md-6 col-lg-4">
        <div class="single_department">
          <div class="department_thumb">
            <img src="assets/images/department/1.png" alt="">
          </div>
          <div class="department_content">
            <h3><a href="#">Chăm sóc mắt</a></h3>
            <p>Esteem tinh thần nóng nảy cũng nói adieus người đạo đức.</p>
            <a href="#" class="learn_more">Chi tiết</a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 col-lg-4">
        <div class="single_department">
          <div class="department_thumb">
            <img src="assets/images/department/2.png" alt="">
          </div>
          <div class="department_content">
            <h3><a href="#">Vật lý trị liệu</a></h3>
            <p>Esteem tinh thần nóng nảy cũng nói adieus người đạo đức.</p>
            <a href="#" class="learn_more">Chi tiết</a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 col-lg-4">
        <div class="single_department">
          <div class="department_thumb">
            <img src="assets/images/department/3.png" alt="">
          </div>
          <div class="department_content">
            <h3><a href="#">Chăm sóc nha khoa</a></h3>
            <p>Esteem tinh thần nóng nảy cũng nói adieus người đạo đức.</p>
            <a href="#" class="learn_more">Chi tiết</a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 col-lg-4">
        <div class="single_department">
          <div class="department_thumb">
            <img src="assets/images/department/4.png" alt="">
          </div>
          <div class="department_content">
            <h3><a href="#">Xét nghiệm chẩn đoán</a></h3>
            <p>Esteem tinh thần nóng nảy cũng nói adieus người đạo đức.</p>
            <a href="#" class="learn_more">Chi tiết</a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 col-lg-4">
        <div class="single_department">
          <div class="department_thumb">
            <img src="assets/images/department/5.png" alt="">
          </div>
          <div class="department_content">
            <h3><a href="#">Phẫu thuật da</a></h3>
            <p>Esteem tinh thần nóng nảy cũng nói adieus người đạo đức.</p>
            <a href="#" class="learn_more">Chi tiết</a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 col-lg-4">
        <div class="single_department">
          <div class="department_thumb">
            <img src="assets/images/department/6.png" alt="">
          </div>
          <div class="department_content">
            <h3><a href="#">Dịch vụ phẫu thuật</a></h3>
            <p>Esteem tinh thần nóng nảy cũng nói adieus người đạo đức.</p>
            <a href="#" class="learn_more">Chi tiết</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- offers_area_end -->
<!-- welcome_docmed_area_end -->



<!-- business_expert_area_start  -->
<!--<div class="business_expert_area">-->
<!--  <div class="business_tabs_area">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col-xl-12">-->
<!--          <ul class="nav" id="myTab" role="tablist">-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"-->
<!--                 aria-selected="true">Excellent Services</a>-->
<!--            </li>-->

<!--            <li class="nav-item">-->
<!--              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"-->
<!--                 aria-selected="false">Qualified Doctors</a>-->
<!--            </li>-->


<!--            <li class="nav-item">-->
<!--              <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"-->
<!--                 aria-selected="false">Emergency Departments</a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->
<!--  <div class="container">-->
<!--    <div class="border_bottom">-->
<!--      <div class="tab-content" id="myTabContent">-->
<!--        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">-->

<!--          <div class="row align-items-center">-->
<!--            <div class="col-xl-6 col-md-6">-->
<!--              <div class="business_info">-->
<!--                <div class="icon">-->
<!--                  <i class="flaticon-first-aid-kit"></i>-->
<!--                </div>-->
<!--                <h3>Leading edge care for Your family</h3>-->
<!--                <p>Esteem tinh thần nóng nảy cũng nói adieus người đạo đức.-->
<!--                  It esteems luckily picture placing drawing. Apartments frequently or motionless on-->
<!--                  reasonable projecting expression.-->
<!--                </p>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-xl-6 col-md-6">-->
<!--              <div class="business_thumb">-->
<!--                <img src="img/about/business.png" alt="">-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">-->
<!--          <div class="row align-items-center">-->
<!--            <div class="col-xl-6 col-md-6">-->
<!--              <div class="business_info">-->
<!--                <div class="icon">-->
<!--                  <i class="flaticon-first-aid-kit"></i>-->
<!--                </div>-->
<!--                <h3>Leading edge care for Your family</h3>-->
<!--                <p>Esteem tinh thần nóng nảy cũng nói adieus người đạo đức.-->
<!--                  It esteems luckily picture placing drawing. Apartments frequently or motionless on-->
<!--                  reasonable projecting expression.-->
<!--                </p>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-xl-6 col-md-6">-->
<!--              <div class="business_thumb">-->
<!--                <img src="assets/images/about/business.png" alt="">-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">-->
<!--          <div class="row align-items-center">-->
<!--            <div class="col-xl-6 col-md-6">-->
<!--              <div class="business_info">-->
<!--                <div class="icon">-->
<!--                  <i class="flaticon-first-aid-kit"></i>-->
<!--                </div>-->
<!--                <h3>Leading edge care for Your family</h3>-->
<!--                <p>Esteem tinh thần nóng nảy cũng nói adieus người đạo đức.-->
<!--                  It esteems luckily picture placing drawing. Apartments frequently or motionless on-->
<!--                  reasonable projecting expression.-->
<!--                </p>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-xl-6 col-md-6">-->
<!--              <div class="business_thumb">-->
<!--                <img src="assets/images/about/business.png" alt="">-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!-- business_expert_area_end  -->

<!-- expert_doctors_area_start -->
<div class="expert_doctors_area doctor_page">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="single_expert mb-40">
          <div class="expert_thumb">
            <img src="assets/images/experts/1.png" alt="">
          </div>
          <div class="experts_name text-center">
            <h3>TS.BS. CUNG VĂN CÔNG</h3>
            <span>Trưởng khoa Chẩn đoán hình ảnh</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="single_expert mb-40">
          <div class="expert_thumb">
            <img src="assets/images/experts/2.png" alt="">
          </div>
          <div class="experts_name text-center">
            <h3>BSCKII. CUNG VĂN TẤN</h3>
            <span>Trưởng khoa Cấp cứu</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="single_expert mb-40">
          <div class="expert_thumb">
            <img src="assets/images/experts/3.png" alt="">
          </div>
          <div class="experts_name text-center">
            <h3>ThS.BS VŨ ĐỖ</h3>
            <span>Trưởng khoa Bệnh phổi nghề nghiệp</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="single_expert mb-40">
          <div class="expert_thumb">
            <img src="assets/images/experts/4.png" alt="">
          </div>
          <div class="experts_name text-center">
            <h3>TS.BS. NGUYỄN HOÀI BẮC</h3>
            <span>Trưởng phòng Kế hoạch tổng hợp</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="single_expert mb-40">
          <div class="expert_thumb">
            <img src="assets/images/experts/6.png" alt="">
          </div>
          <div class="experts_name text-center">
            <h3>BS. NGUYỄN QUANG HÒA</h3>
            <span>Trưởng khoa Hồi sức tích cực</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="single_expert mb-40">
          <div class="expert_thumb">
            <img src="assets/images/experts/7.png" alt="">
          </div>
          <div class="experts_name text-center">
            <h3>ThS.BS. VŨ VĂN THÀNH</h3>
            <span>Trưởng khoa Bệnh phổi mạn tính</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="single_expert mb-40">
          <div class="expert_thumb">
            <img src="assets/images/experts/8.png" alt="">
          </div>
          <div class="experts_name text-center">
            <h3>ThS.BS. NGUYỄN HỮU TRÍ</h3>
            <span>Trưởng khoa Nội tổng hợp</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="single_expert mb-40">
          <div class="expert_thumb">
            <img src="assets/images/experts/9.png" alt="">
          </div>
          <div class="experts_name text-center">
            <h3>TS.BS. NGUYỄN KIM CƯƠNG</h3>
            <span>Trưởng khoa Lao hô hấp</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- expert_doctors_area_end -->

<!-- Emergency_contact start -->
<div class="Emergency_contact">
  <div class="conatiner-fluid p-0">
    <div class="row no-gutters">
      <div class="col-xl-6">
        <div class="single_emergency d-flex align-items-center justify-content-center emergency_bg_1 overlay_skyblue">
          <div class="info">
            <h3>Liên hệ khẩn cấp</h3>

          </div>
          <div class="info_button">
            <a href="#" class="boxed-btn3-white">0243 8326 249</a>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="single_emergency d-flex align-items-center justify-content-center emergency_bg_2 overlay_skyblue">
          <div class="info">
            <h3>Đặt lịch khám trực tuyến</h3>
          </div>
          <div class="info_button">
            <a href="#" class="boxed-btn3-white">Đặt lịch khám trực tuyến</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Emergency_contact end -->


<!--<div class="sec-banner bg0 p-t-80 p-b-50">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">-->
<!--        &lt;!&ndash; Block1 &ndash;&gt;-->
<!--        <div class="block1 wrap-pic-w">-->
<!--          <img src="assets/images/banner-01.jpg" alt="IMG-BANNER">-->

<!--          <a href="product.html" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">-->
<!--            <div class="block1-txt-child1 flex-col-l">-->
<!--								<span class="block1-name ltext-102 trans-04 p-b-8">-->
<!--									Women-->
<!--								</span>-->

<!--              <span class="block1-info stext-102 trans-04">-->
<!--									Spring 2018-->
<!--								</span>-->
<!--            </div>-->

<!--            <div class="block1-txt-child2 p-b-4 trans-05">-->
<!--              <div class="block1-link stext-101 cl0 trans-09">-->
<!--                Shop Now-->
<!--              </div>-->
<!--            </div>-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">-->
<!--        &lt;!&ndash; Block1 &ndash;&gt;-->
<!--        <div class="block1 wrap-pic-w">-->
<!--          <img src="assets/images/banner-02.jpg" alt="IMG-BANNER">-->

<!--          <a href="product.html" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">-->
<!--            <div class="block1-txt-child1 flex-col-l">-->
<!--								<span class="block1-name ltext-102 trans-04 p-b-8">-->
<!--									Men-->
<!--								</span>-->

<!--              <span class="block1-info stext-102 trans-04">-->
<!--									Spring 2018-->
<!--								</span>-->
<!--            </div>-->

<!--            <div class="block1-txt-child2 p-b-4 trans-05">-->
<!--              <div class="block1-link stext-101 cl0 trans-09">-->
<!--                Shop Now-->
<!--              </div>-->
<!--            </div>-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">-->
<!--        &lt;!&ndash; Block1 &ndash;&gt;-->
<!--        <div class="block1 wrap-pic-w">-->
<!--          <img src="assets/images/banner-03.jpg" alt="IMG-BANNER">-->

<!--          <a href="product.html" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">-->
<!--            <div class="block1-txt-child1 flex-col-l">-->
<!--								<span class="block1-name ltext-102 trans-04 p-b-8">-->
<!--									Accessories-->
<!--								</span>-->

<!--              <span class="block1-info stext-102 trans-04">-->
<!--									New Trend-->
<!--								</span>-->
<!--            </div>-->

<!--            <div class="block1-txt-child2 p-b-4 trans-05">-->
<!--              <div class="block1-link stext-101 cl0 trans-09">-->
<!--                Shop Now-->
<!--              </div>-->
<!--            </div>-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<!--<section class="bg0 p-t-23 p-b-140">-->
<!--  <div class="container">-->
<!--    <div class="p-b-10">-->
<!--      <h3 class="ltext-103 cl5">-->
<!--        Product Overview-->
<!--      </h3>-->
<!--    </div>-->

<!--    <ngx-search-filter></ngx-search-filter>-->

<!--    <ngx-list-product style="display: block"></ngx-list-product>-->

<!--  </div>-->
<!--</section>-->
