<ngb-carousel
  [showNavigationArrows]="true"
  [showNavigationIndicators]="true"
  interval="12000"
  [keyboard]="true"
  [pauseOnHover]="true"
  [wrap]="true"
  [activeId]="'secondSlide'">
  <ng-template *ngFor="let key of arr" ngbSlide >
    <div class="picsum-img-wrapper" >
      <img [src]="key.link" alt="Angular Carousel 1">
    </div>
    <div class="carousel-caption">
<!--      <h3>Title Goes Here</h3>-->
<!--      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
    </div>
  </ng-template>
</ngb-carousel>

<div class="service_area">
  <div class="container p-0">
    <div class="row no-gutters">
      <div class="col-xl-4 col-md-4">
        <div class="single_service">
          <div class="icon">
            <i class="flaticon-electrocardiogram"></i>
          </div>
          <h3>Live online classes</h3>
          <p>Interactive group classes with expert teachers. Free 7-day trial</p>
          <a href="#" class="boxed-btn3-white">Learn more</a>
        </div>
      </div>
      <div class="col-xl-4 col-md-4">
        <div class="single_service">
          <div class="icon">
            <i class="flaticon-emergency-call"></i>
          </div>
          <h3>Self-study online courses</h3>
          <p>Unlimited access to online English courses for £5.99 per month</p>
          <a href="#" class="boxed-btn3-white">Learn more</a>
        </div>
      </div>
      <div class="col-xl-4 col-md-4">
        <div class="single_service">
          <div class="icon">
            <i class="flaticon-first-aid-kit"></i>
          </div>
          <h3>Personal tutoring</h3>
          <p>Online one-to-one English tutoring – enjoy your first session for only $1</p>
          <a href="#" class="boxed-btn3-white">Learn more</a>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- welcome_docmed_area_start -->
<div class="welcome_docmed_area">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6">
        <div class="welcome_thumb">
          <div class="thumb_1">
            <img src="assets/images/about/1.png" alt="">
          </div>
          <div class="thumb_2">
            <img src="assets/images/about/2.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6">
        <div class="welcome_docmed_info">
          <h2>Welcome to LearnEnglish</h2>
          <h3>Live online classes <br>
            with expert teachers</h3>
          <p>Learn English online and improve your skills through our high-quality courses and resources – all designed for adult language learners. Everything you find here has been specially created by the British Council, the world's English teaching experts.

          </p>
          <ul>
            <li><i class="flaticon-right"></i> Plans and pricing to suit your budget and lifestyle</li>
            <li><i class="flaticon-right"></i> Customised study plan</li>
            <li><i class="flaticon-right"></i> Certified results</li>
            <li><i class="flaticon-right"></i> Community</li>
          </ul>
          <a href="#" class="boxed-btn3-white-2">Find out more</a>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- offers_area_start -->
<div class="our_department_area">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="section_title text-center mb-55">
          <h3>Personal online tutoring</h3>
          <p>Learn English online with one of our professional tutors.  <br>
            These one-to-one sessions will focus on a personal plan to help you maximise your potential and confidence when reading, writing and speaking English. </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-md-6 col-lg-4">
        <div class="single_department">
          <div class="department_thumb">
            <img src="assets/images/department/1.png" alt="">
          </div>
          <div class="department_content">
            <h3><a href="#">High quality</a></h3>
            <p>Professional tutors with years of experience</p>
            <a href="#" class="learn_more">Detail</a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 col-lg-4">
        <div class="single_department">
          <div class="department_thumb">
            <img src="assets/images/department/2.png" alt="">
          </div>
          <div class="department_content">
            <h3><a href="#">Personal learning plan</a></h3>
            <p>Each session designed around your needs, helping you reach your goal</p>
            <a href="#" class="learn_more">Detail</a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 col-lg-4">
        <div class="single_department">
          <div class="department_thumb">
            <img src="assets/images/department/3.png" alt="">
          </div>
          <div class="department_content">
            <h3><a href="#">Try for $1</a></h3>
            <p>Book your first 30-minute session for just $1</p>
            <a href="#" class="learn_more">Detail</a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 col-lg-4">
        <div class="single_department">
          <div class="department_thumb">
            <img src="assets/images/department/4.png" alt="">
          </div>
          <div class="department_content">
            <h3><a href="#">Xét nghiệm chẩn đoán</a></h3>
            <p>Esteem tinh thần nóng nảy cũng nói adieus người đạo đức.</p>
            <a href="#" class="learn_more">Chi tiết</a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 col-lg-4">
        <div class="single_department">
          <div class="department_thumb">
            <img src="assets/images/department/5.png" alt="">
          </div>
          <div class="department_content">
            <h3><a href="#">Phẫu thuật da</a></h3>
            <p>Esteem tinh thần nóng nảy cũng nói adieus người đạo đức.</p>
            <a href="#" class="learn_more">Chi tiết</a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 col-lg-4">
        <div class="single_department">
          <div class="department_thumb">
            <img src="assets/images/department/6.png" alt="">
          </div>
          <div class="department_content">
            <h3><a href="#">Dịch vụ phẫu thuật</a></h3>
            <p>Esteem tinh thần nóng nảy cũng nói adieus người đạo đức.</p>
            <a href="#" class="learn_more">Chi tiết</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- expert_doctors_area_start -->
<div class="expert_doctors_area doctor_page">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="single_expert mb-40">
          <div class="expert_thumb">
            <img src="assets/images/experts/1.png" alt="">
          </div>
          <div class="experts_name text-center">
            <h3>TS.BS. CUNG VĂN CÔNG</h3>
            <span>Trưởng khoa Chẩn đoán hình ảnh</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="single_expert mb-40">
          <div class="expert_thumb">
            <img src="assets/images/experts/2.png" alt="">
          </div>
          <div class="experts_name text-center">
            <h3>BSCKII. CUNG VĂN TẤN</h3>
            <span>Trưởng khoa Cấp cứu</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="single_expert mb-40">
          <div class="expert_thumb">
            <img src="assets/images/experts/3.png" alt="">
          </div>
          <div class="experts_name text-center">
            <h3>ThS.BS VŨ ĐỖ</h3>
            <span>Trưởng khoa Bệnh phổi nghề nghiệp</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="single_expert mb-40">
          <div class="expert_thumb">
            <img src="assets/images/experts/4.png" alt="">
          </div>
          <div class="experts_name text-center">
            <h3>TS.BS. NGUYỄN HOÀI BẮC</h3>
            <span>Trưởng phòng Kế hoạch tổng hợp</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="single_expert mb-40">
          <div class="expert_thumb">
            <img src="assets/images/experts/6.png" alt="">
          </div>
          <div class="experts_name text-center">
            <h3>BS. NGUYỄN QUANG HÒA</h3>
            <span>Trưởng khoa Hồi sức tích cực</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="single_expert mb-40">
          <div class="expert_thumb">
            <img src="assets/images/experts/7.png" alt="">
          </div>
          <div class="experts_name text-center">
            <h3>ThS.BS. VŨ VĂN THÀNH</h3>
            <span>Trưởng khoa Bệnh phổi mạn tính</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="single_expert mb-40">
          <div class="expert_thumb">
            <img src="assets/images/experts/8.png" alt="">
          </div>
          <div class="experts_name text-center">
            <h3>ThS.BS. NGUYỄN HỮU TRÍ</h3>
            <span>Trưởng khoa Nội tổng hợp</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="single_expert mb-40">
          <div class="expert_thumb">
            <img src="assets/images/experts/9.png" alt="">
          </div>
          <div class="experts_name text-center">
            <h3>TS.BS. NGUYỄN KIM CƯƠNG</h3>
            <span>Trưởng khoa Lao hô hấp</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- expert_doctors_area_end -->

<!-- Emergency_contact start -->
<div class="Emergency_contact">
  <div class="conatiner-fluid p-0">
    <div class="row no-gutters">
      <div class="col-xl-6">
        <div class="single_emergency d-flex align-items-center justify-content-center emergency_bg_1 overlay_skyblue">
          <div class="info">
            <h3>Contact us</h3>

          </div>
          <div class="info_button">
            <a href="#" class="boxed-btn3-white">0243 8326 249</a>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="single_emergency d-flex align-items-center justify-content-center emergency_bg_2 overlay_skyblue">
          <div class="info">
            <h3>Booking class </h3>
          </div>
          <div class="info_button">
            <a href="#" class="boxed-btn3-white">Booking class online</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
