<!-- Content page -->
<section style="height: 100%;" class="bg0 p-t-75 p-b-120">
  <div style="min-height: 600px; padding-top: 50px;" class="container">
    <div class="row" style="display: contents;">
      <h3 class="mtext-111 cl2 p-b-16" style="text-align: center; margin-bottom: 30px; margin-top: 30px;">
        Điều trị về bệnh phổi
      </h3>
      <div class="" *ngFor="let key of arr; index as i">
        <p>
          <a style="color: black !important;font-size: 23px;margin-bottom: 15px; display: block;" routerLink="/dieu-tri/{{key.code}}">{{i +1}}. {{key.text}}</a>
        </p>
        <div style="    margin-left: 30px;" class="" *ngIf="key.children?.length > 0">
          <p style="padding-bottom: 5px;" *ngFor="let key1 of key.children; index as j">
            <a style="color: black !important;font-size: 20px;margin-bottom: 15px; display: block;" routerLink="/dieu-tri/{{key1.code}}">{{i +1}}.{{j +1}}. {{key1.text}}</a>
          </p>
        </div>

      </div>
<!--      <p><a style="color: black !important;font-size: 25px;margin-bottom: 15px; display: block;" routerLink="/dieu-tri/dieu-tri-viem-phoi-cong-dong">1. Điều trị viêm phổi cộng đồng</a></p>-->

<!--      <p><a style="color: black !important;font-size: 25px;margin-bottom: 15px; display: block;" routerLink="/dieu-tri/dieu-tri-ap-xe-phoi">2. Điều trị áp xe phổi</a></p>-->

<!--      <p><a style="color: black !important;font-size: 25px;margin-bottom: 15px; display: block;" routerLink="/dieu-tri/dieu-tri-gian-phe-quan">3. Điều trị giãn phế quản</a></p>-->

<!--      <p><a style="color: black !important;font-size: 25px;margin-bottom: 15px; display: block;" routerLink="/dieu-tri/dieu-tri-hen-phe-quan">4. Điều trị hen phế quản</a></p>-->
    </div>
  </div>
</section>
