<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="footer-link">
        <div class="link-footer footer-contact" style="padding-bottom: 50px;">
          <div class="footer-title" style="padding: 50px 0px;">TOEIC ONLINE LEARNING</div>
          <div class="row" >
            <div class="col-md-7 col-sm-6">
              <a  routerLink="/lien-he" style="margin-left: -4px; float:left;margin-top: 20px;"><img
                src="assets/images/icon/address-icon.png" alt=""></a>
              <p class="pl-20">
                <a style="color: #ffffffb3" routerLink="/lien-he">Address 1: Golden Park Building, Pham Van Bach, Cau Giay Distric, Ha Noi</a>
              </p>
              <p class="pl-20">
                <a style="color: #ffffffb3" routerLink="/lien-he">Address 2 : No.8 - Ton That Thuyet , Detech Building</a>
              </p>
            </div>


            <div class="col-md-5 col-sm-6">
              <p class="pl-20"><img src="assets/images/icon/phone-icon.png" alt=""><a style="color: #ffffffb3" href="tel:02438326249">
                Phone: 0243 8326 249</a></p>
              <p class="pl-20">
                <img src="assets/images/icon/mail-icon.png" alt="">
                <span style="margin-left: -5px; color: #ffffffb3">Email: nguyendtkgbh17526@fpt.edu.vn</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copy-right_text">
    <div class="container">
      <div class="footer_border"></div>
      <div class="row">
        <div class="col-xl-12">
          <p class="copy_right text-center" style="color: white !important;">
            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
            Nguyen Final Project
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
